doctype html
html.no-js(lang='en-US')
  head
    title DivvyDocks
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1.0,shrink-to-fit=no')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//basehold.it/24/000000')
    link(href='https://fonts.googleapis.com/css?family=Lato|Roboto', rel='stylesheet')
  body
    header
      a(href='/')
        h1 DivvyDocks
    main
      sub.last-time Last Update: #{syncTime}
      table.divvy
        thead
          tr
            th Station
            th Empty
            th Taken
            th Total
        tbody
          for station in stations
            tr
              th #{station.stationName}
              th #{station.availableDocks}
              th #{station.availableBikes}
              th #{station.totalDocks}
    footer
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='/javascripts/site.js')
