sub.last-time Last Update: #{syncTime}
table.divvy
  thead
    tr#divvy-headers
      th.name Station
      th.empty Empty
      th.taken Taken
      th.total Total
    tr#divvy-small
      th Site
      th E
      th T
      th A
  tbody
    for station in stations
      tr
        td.name
          a(href='' + station.url) #{station.stationName}
        td.empty #{station.availableDocks}
        td.taken #{station.availableBikes}
        td.total #{station.totalDocks}
